// reference: https://www.uplabs.com/posts/404-page-ec3ed676-77f6-49c1-9134-83a5fa17c17b

@import "../../styles/abstracts/mixins";

// keyframes
@keyframes floating {
  from {
    transform: translateY(0px);
  }
  65% {
    transform: translateY(15px);
  }
  to {
    transform: translateY(-0px);
  }
}

html {
  height: 100%;
}

.invalid-route--container {
  background-image: url("https://mars-404.templateku.co/img/star.svg");
  height: 100%;
  margin: 0;
  background-attachment: fixed;
  overflow: hidden;
}

.mars {
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 27vmin;
  background: url("https://mars-404.templateku.co/img/mars.svg") no-repeat bottom center;
  background-size: cover;
}

.logo-404 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 5vmin;
  width: 30vmin;

  @include breakpoint(mobile) {
    top: 45vmin;
  }
}

.meteor {
  position: absolute;
  right: 2vmin;
  top: 16vmin;
}

.title {
  color: white;
  font-weight: 600;
  text-align: center;
  font-size: 5vmin;
  margin-top: 20vmin;

  @include breakpoint(mobile) {
    margin-top: 65vmin;
  }
}

.subtitle {
  color: white;
  font-weight: 400;
  text-align: center;
  font-size: 2.5vmin;
  margin-top: 5vmin;
  margin-bottom: 6vmin;
  @include breakpoint(mobile) {
    font-size: 4vmin;
  }
}

.btn-back {
  border: 1px solid white;
  color: white;
  height: 5vmin;
  padding: 12px;
  text-decoration: none;
  border-radius: 5px;

  &__container {
    text-align: center;
  }

  &:hover {
    background: white;
    color: #4d007d;
  }

  @include breakpoint(mobile) {
    font-size: 3.5vmin;
  }
}

.astronaut {
  position: absolute;
  top: 5vmin;
  left: 10vmin;
  height: 30vmin;
  animation: floating 3s infinite ease-in-out;

  @include breakpoint(mobile) {
    top: 2vmin;
  }
}

.spaceship {
  position: absolute;
  bottom: 15vmin;
  right: 24vmin;

  @include breakpoint(mobile) {
    width: 45vmin;
    bottom: 18vmin;
  }
}
