<mat-toolbar color="primary" class="footer">
    <span class="footer__developer">
        Developed by<a href="http://abhishekmehta.co/" matTooltip="portfolio">Abhishek</a>
    </span>
    <span class="global__spacer"></span>
    <a href="https://darksky.net/poweredby/" target="_blank" class="footer__attribution">
        <img src="https://darksky.net/dev/img/attribution/poweredby-oneline-darkbackground.png"
            alt="Powered by Dark Sky" class="footer__attribution__image">
    </a>
</mat-toolbar>