<!-- <app-header></app-header> -->

<div class="app-container mat-typography" [class.app-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="app-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="app-name">
            <a routerLink="/home">WEATHER WIDGET</a>
        </h1>
        <span class="global__spacer"></span>
        <button *ngIf="!mobileQuery.matches;else mobileDevice" (click)="openSearchDialog()" mat-raised-button
            color="accent">
            <mat-icon>location_searching</mat-icon> Search for a location
        </button>
        <ng-template #mobileDevice>
            <button mat-icon-button (click)="openSearchDialog()" mat-raised-button color="warn" aria-label="search">
                <mat-icon>location_searching</mat-icon>
            </button>
        </ng-template>
    </mat-toolbar>

    <mat-sidenav-container class="app-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches"
            [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item routerLink="/home" routerLinkActive="active"
                    (click)="mobileQuery.matches && snav.close()">Home</a>
                <mat-divider></mat-divider>

                <a mat-list-item routerLink="/hourly-forecast" routerLinkActive="active"
                    (click)="mobileQuery.matches && snav.close()">Hourly forecast</a>
                <mat-divider></mat-divider>

                <a mat-list-item routerLink="/daily-forecast" routerLinkActive="active"
                    (click)="mobileQuery.matches && snav.close()">Daily forecast</a>
                <mat-divider></mat-divider>

                <a mat-list-item routerLink="/some-random-url" routerLinkActive="active"
                    (click)="mobileQuery.matches && snav.close()">Invalid URL (demo)</a>
                <mat-divider></mat-divider>

            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <app-footer></app-footer>
</div>